img {
  width: 293px;
  /*height: auto;*/
}

#home li {
  list-style-type: none;
}

.strike {
  text-decoration: line-through;
}

.navbar-right {
  padding-right: 10px;
}

.carousel-element{
    margin-left: -100px;
}
