<h2>Junk Miles: Dole Tests Wearable Banana Tech in Tokyo Marathon</h2>
<p>
Complete with sensors and LEDs that display a runner’s race time, tweets and heart rate, Dole’s wearable banana may have been one of the more bizarre items spotted at the Tokyo Marathon this past weekend. Since 2008, the world’s largest producer of fruits and vegetables has fueled Tokyo marathoners as an official race sponsor. Now, the company’s Japan division is redefining wearable technology with food.</p>

<p>
The robotically-modified banana consists of wired parts—similar to what you may find in a fitness tracker—inserted along the inside of an opened banana, which is then stitched back together and replaced with a much smaller banana-filling (to accommodate its wired innards of course).</p>
<p>
“The power source is a small battery connected to the wearable banana. Inside the battery there are ultra-compact LEDs and other electronic components,” says the senior manager of marketing at Dole Japan Hiromi Otaki in an interview with CNET.</p>

<p>Out of 30,000 Tokyo marathoners, two sported the wearable banana on their wrists in Sunday’s race. The flashing LEDs would have informed them of their distance covered, heart rate and more importantly when to eat their next banana. We can only imagine the self-control the runners exercised from eating their banana before the finish line. Plus, it seems once the banana is consumed the tech portion of the banana becomes useless.</p>

<p>With the worldwide market for wearable devices projected to reach $52.3 billion in 2019 according to CNET, Dole’s high-tech banana may face some competition among other wearable food contenders such as Kagome’s wearable tomato project. However, if we’re going to compare the two, Dole’s wearable banana appears more efficient and purposeful than an 18-pound tomato dispensing mechanic backpack called Tomaton.</p>

<p>
Read more at http://running.competitor.com/2015/02/video/junk-miles-dole-tests-wearable-banana-tech-tokyo-marathon_123420#ZvSwe9PPB43lQyIl.99</p>
