<h2>Polar face! Lady Gaga, Taylor Kinney and Vince Vaughn dip into freezing Lake Michigan in Chicago's coldest February since 1875</h2>

<p> Actor Vince Vaughn and pop star Lady Gaga mustered up the courage to dive into freezing cold water for the Special Olympics charity the day after cities across the country broke cold records for last month.
The Chicago-native Wedding Crashers star was the celebrity guest of honor at his hometown's annual Polar Plunge, in which brave swimmers raise money for athletes with special needs by plunging into Lake Michigan.
Vaughn, wearing a Blackhawks hockey jersey and jeans, led the way into a patch of frigid, slushy 33 degree water near Lincoln Park that had been cleared of snow, which has accumulated in the city and much of the US.</p>

<p>The star of upcoming movie Unfinished Business first went in up to his knees before lowering himself into the water backwards.</p>

<p>Gaga attended the event with shirtless fiance Taylor Kinney, who was wearing a baseball cap and shorts, and his costars from the show Chicago Fire.
The singer rode piggyback-style with Kinney into the water before they fully immersed themselves into the lake.</p>

<p>The couple then played with each other in the frozen surf and retreated to the warmth of the shore.
'Taylor gave me his hat I thought my wig was gonna freeze into and become one with the lake,' said the songstress, who will take different sort of plunge with her beau after becoming engaged last month..
Lake Michigan was estimated to be right at freezing when the event began at 10.30am Central Time.</p>

<p>Read more: http://www.dailymail.co.uk/news/article-2974674/Vince-Vaugh-Lady-Gaga-plunge-freezing-cold-water-Chicago-charity-polar-plunge.html#ixzz3TG87a2av
Follow us: @MailOnline on Twitter | DailyMail on Facebook</p>
