<div class="container">

  <div class="col-md-12 well">
    <h4>Here is a carousel</h4>
    {{#if isPictureShowing}}
      <p><img src="css/img/kitten.jpg" /></p>
    {{else}}
      <button class="btn btn-info" {{action 'showPicture'}}>Next</button>
    {{/if}}
  </div>

    <ul id="home">
      <div class="row">
        <div class="col-md-4">
          {{#link-to 'banana'}}
          <img src="css/img/banana.jpeg" />
          <li href="#">Wearable Banana</li>
          {{/link-to}}
          <hr>
          Lauren Berbato           41 minutes ago
        </div>
        <div class="col-md-4">
          {{#link-to 'lebron'}}
          <img src="css/img/lebron.jpg" />
          <li href="#">James Harden kicks Lebron in the groin.</li>
          {{/link-to}}
          <hr>
          Lucia Peters              an hour ago
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          {{#link-to 'kitten'}}
          <img src="css/img/kitten.jpg" />
          <li href="#">Kitten Is Utterly Confused By The Discovery Of Her Tail</li>
          {{/link-to}}
          <hr>
          Jamie Kenney              an hour ago
        </div>
        <div class="col-md-4">
          {{#link-to 'gaga'}}
          <img src="css/img/gaga.jpeg" />
          <li href="#">Why did Lady Gaga and Vince Vaughn jump in a freezing lake?</li>
          {{/link-to}}
          <hr>
          Amy Sciarreto             2 hours ago
        </div>
      </div>
    </ul>
      <div class="col-md-4">
        <img src="css/img/adbar.png" />
      </div>
</div>
