<div class="container">

    <ul id="home">
      <div class="row">
        <div class="col-md-4">
          <img src="css/img/banana.jpeg" />
          <li href="#">Wearable Banana</li>
          <hr>
          Lauren Berbato           41 minutes ago
        </div>
        <div class="col-md-4">
          <img src="css/img/lebron.jpg" />
          <li href="#">James Harden kicks Lebron in the groin.</li>
          <hr>
          Lucia Peters              an hour ago
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="css/img/kitten.jpg" />
          <li href="#">Kitten Is Utterly Confused By The Discovery Of Her Tail</li>
          <hr>
          Jamie Kenney              an hour ago
        </div>
        <div class="col-md-4">
          <img src="css/img/gaga.jpeg" />
          <li href="#">Why did Lady Gaga and Vince Vaughn jump in a freezing lake?</li>
          <hr>
          Amy Sciarreto             2 hours ago
        </div>
      </div>
    </ul>
      <div class="col-md-4">
        <img src="css/img/adbar.png" />
      </div>
</div>
