<h2> Kitten Discovers Its Own Tail And Tries Desperately To Figure Out What It Is</h2>

<p>Curiosity <span class="strike">killed the</span> got the best of this cat!</p>

<p>Watch this tiny, little kitten try to figure out what the hell that fluffy thing waving around in the air is. Hint: It’s her tail.</p>

<p>The kitty obviously does not realize her tail is, in fact, a part of her body, or that she is controlling its motion. Every time it moves, she tries to catch it, either between her paws or using her mouth.</p>

<p>Each time the kitten gets ahold of her tail and realizes she can feel it, her little face takes on an adorably confused expression, but she continues the cycle over and over, not yet figuring out what to make of it.</p>

<p>Kittens are always cute, but this is on a whole new level.</p>
