<h2>James Harden Earns Flagrant Foul After Kick to LeBron James' Groin</h2>

<p>Things are getting chippy in Houston, with LeBron James in the middle of everything.</p>
<p>
Early in the third quarter of Sunday's game between the Cleveland Cavaliers and Houston Rockets, James and Houston's Patrick Beverley had to be separated after getting tangled up on the court.
</p>
<p>
That was nothing compared to what would happen near the end of the quarter.
</p>
<p>
LeBron and Rockets guard James Harden battled for possession, resulting in Harden falling to the ground. While down on the hardwood, Harden delivered a kick to James' groin. That didn't sit well with the Cavaliers superstar, and it ultimately led to some jawing afterward by players from both sides.
</p>
<p>
Harden was slapped with a flagrant foul on the play, and Houston's Corey Brewer and Cleveland's Tristan Thompson received technicals.
</p>
<p>
The Rockets prevailed 105-103 in overtime, in part due to some big missed free throws from LeBron down the stretch. He finished with a game-high 37 points but went just 3-of-11 at the stripe. Harden chipped in 33 points of his own.</p>
